.home {
    display: flex;
    margin-top: 20px;
}

.header-text {
    color: salmon;
    margin-left: 15px;


}

.welcome-text {
    font-size: 50px;
    padding-bottom: 50px;
}

.paragraph-text {
    font-size: 30px;
    color: black;

    text-align: left;

}

.home-img {

    padding-top: 70px;
    padding-left: 20px;

}

.home-img img {
    width: 800px;
    height: 650px;
}

.home-btn {
    background-color: salmon;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: left;
}